@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: naughty;
  src: url("./assets/font/NaughtyMonster.otf");
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  @apply w-screen overflow-x-hidden;
  /* @apply w-screen overflow-x-hidden; */
}

.no-scrollbar {
  width: 300px;
  height: 200px;
  overflow-y: scroll; /* Enable scrolling */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, WebKit */
}

.home {
  /* background-image: url("./assets/IMG_8336.JPG"); */
  @apply h-screen w-screen bg-cover bg-no-repeat overflow-y-scroll overflow-x-hidden bg-center bg-[url("./assets/img/bgees.jpg")] md:bg-[url("./assets/IMG_8336.JPG")];
}
.navbar-link {
  @apply bg-green-500 text-white px-4 p-2 text-sm rounded-md uppercase font-bold;
  font-family: "Press Start 2P", sans-serif;
}
.home-bottom-image {
  @apply w-80;
}

.image6,
.image7 {
  @apply hidden lg:inline;
}

.image4,
.image5 {
  @apply hidden sm:inline;
}

/* GALLERY */
.gallery-title {
  font-family: naughty;
}
.gallery-top {
  @apply bg-green-500/80 p-4 text-white text-3xl flex justify-between items-center;
}
.search {
  /* @apply grid grid-cols-searchGrid h-screen w-screen overflow-hidden; */
  @apply grid md:grid-cols-searchGrid relative;
  font-family: "Staatliches", sans-serif;
}

.search-left {
  @apply bg-green-500/80 h-screen p-2 text-white overflow-y-scroll overflow-x-hidden md:sticky absolute top-0 md:left-0 -left-full max-w-80 duration-500 z-10;
  /* @apply bg-green-500/80 h-full p-2 text-white overflow-y-scroll overflow-x-hidden; */
}
.search-left.active {
  @apply left-0;
}
.option-sorts {
  @apply mt-4 flex flex-col gap-4;
}

.card {
  @apply w-full h-[300px] relative rounded-md overflow-hidden grid;
  grid-template-rows: 3rem 1fr 3rem;
  border-radius: 10px;
  isolation: isolate;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card::after,
.card::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from var(--angle),
    #ff4545,
    #00ff99,
    #006aff,
    #ff0095,
    #ff4545
  );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
  animation: 3s spin linear infinite;
}
.carder::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.card-top {
  @apply bg-black/80 p-2 flex justify-between items-center;
}
.search-right {
  @apply p-2 grid gap-4 w-full min-h-screen h-fit;
  /* @apply p-2 grid gap-4 w-full h-full overflow-scroll overflow-x-hidden; */
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
}

.mint {
  background-image: url("./assets/mint.JPG");
  font-family: "Press Start 2P", sans-serif;
  @apply w-screen h-screen bg-no-repeat bg-cover bg-center;
}

.mint-text {
  animation: blink 1s infinite;
  @apply text-2xl md:text-5xl xl:text-[5rem] text-center mt-40;
}

@keyframes blink {
  0% {
    color: #00ff99;
  }
  25% {
    color: #ff4545;
  }
  50% {
    color: brown;
  }
  100% {
    color: black;
  }
}
